.body{
    display: flex;
    flex-direction: row;
}

.content-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
    /* width: 80vw; */
    padding-left: 20%;
    flex: 80%;
    height: fit-content;
    /* background-color: ; */
}

.side-bar {
    display: flex;
    flex: 20%;
    flex-direction: column;
    /* border: 3px solid red; */
    height: 90vh;
    /* width: 20vw; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
    justify-content: top;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 20%; */
}
.cards-container {
    /* display: flex;
    flex-direction: row; */
    
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    /* margin-top: 50px; */
}

.link-item{
    color: black;
    margin-top: 10px;
    text-decoration: none;
    font-size: large;
}

.logo{
    height: 10vh;
    width: 15vw;
    margin: 10px;
}


.find-me-on {
    display: flex;
    flex-direction: column;
}

.email {
    margin-top: 10px;
    text-decoration: none;
    color: black;
}


a {
    position: relative;
    text-decoration: none;
    color: #333;
  }
  

  a::before {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
  }

  a:hover::before {
    width: 100%;
  }

  .portfolio-title{
    color: #0072CE;
  }

  .projects-title {
    color: #0072CE;
  }

  .fmo-title {
    color: #0072CE;
  }

  h2{
    color: #0072CE;

  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .profile_portrait {
    margin-top: 30px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.span {
    background-color: #000;
    color:  greenyellow;
}

.divider {
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
  }

  hr.solid {
    width: 50vw;
    border-top: 3px solid #bbb;
  }

  .skills-list {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
  }




  .card {
    width: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 10px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
}

.card a {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background-color: #0056b3;
}

.chat-app-img {
    height: 100vh;
    width: 300px;
}




@media (min-width: 300px) and (max-width: 750px) {
    .content-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 3px solid red; */
        /* width: 80vw; */
        padding-left: 30%;
        flex: 80%;
        height: fit-content;
        /* background-color: ; */
    }
    
    .side-bar {
        display: flex;
        flex: 30%;
        flex-direction: column;
        /* border: 3px solid red; */
        height: 90vh;
        /* width: 20vw; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        background-color: #F5F5F5;
        justify-content: top;
        align-items: center;
        position: fixed; 
        top: 0;
        left: 0; 
        width: 30%;
    }
      
    .logo {
        width: 150px;
        margin: 5px;
    }

}

@media (min-width: 751px) and (max-width: 1300px) {

    .content-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 3px solid red; */
        /* width: 80vw; */
        padding-left: 30%;
        flex: 80%;
        height: fit-content;
        /* background-color: ; */
    }
    
    .side-bar {
        display: flex;
        flex: 30%;
        flex-direction: column;
        /* border: 3px solid red; */
        height: 90vh;
        /* width: 20vw; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        background-color: #F5F5F5;
        justify-content: top;
        align-items: center;
        position: fixed; 
        top: 0;
        left: 0; 
        width: 30%;
    }


}


/* .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 10px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
}

.card a {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background-color: #0056b3;
} */

